@tailwind base;
@tailwind components;
@tailwind utilities;

.con{
  background: linear-gradient(140deg,rgb(36,36,223),rgb(7,7,166));
}
form input{
  border:none;
  outline:0;
  width:60px;
  height:60px;
  font-size:16px;
  background-color: black;
  margin:2px;
  border-radius: 10px;
  color:white;
  font-weight: bold;
 
}
form input[type="button"]{
  background-color: rgb(91,91,151);
  cursor: pointer;
}
form input[type="button"]:hover{
  background-color: blueviolet;
}
form input[type="text"]{
  padding-right:10px ;
  text-align: right;
  
}
.equal{
  width:122px;
}
